a,svg,img{
    cursor: pointer;
}

.meal-overlay{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}

.meal:hover .meal-overlay{
    top: 0;
}


.side-nav-menu{
    z-index: 1000;
}


.form-group{
    margin-bottom: 20px;
    width: 100%;
}